* {
    color: white;
    font-family: Arial;
    font-size: large;
}

body {
    background: grey;
}

.navbar {
    color: lightgray;
    background-color: dimgray;
    
    position: absolute;
    right: 30px;

    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    border-color: black;
    border-style: dashed;
}

.selectGameBtn {
    color: lightgray;
    background-color: dimgray;
    
    position: absolute;
    left: 50px;

    width: 500px;

    padding: 12px 22px;
    text-align: left;
    text-decoration: none;
    display: inline-block;

    border-color: black;
    border-style: dashed;
}

.contentField{
    padding-top: 75px;
}

.inputArea{
    padding-top: 7px;
    padding-left: 40px;
}
.inputField{
    color: grey;
    font-size: 14px;

    width: 275px;
    height: 22px;
    padding-left: 3px;
}
.inputLabel{
    color: white;
    font-size: 16px;
    display: inline-block;
    width: 175px;
}
.removePersonBtn{
    color: red;
    text-align: center;
    font-family: monospace;

    height: 27px;
    width: 27px;
    padding: 0px;
}


.hostPageBtn{
    color: darkgray;
    background-color: black;
}